<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: linksFragment">
    <title>Création d'un Ride</title>
</head>
<body>
<div th:replace="layout :: navbarFragment">&nbsp;</div>
<section class="section">
    <div class="container">
        <table>
            <tr>
                <th>Date de départ</th>
                <th>Ville de départ</th>
                <th>Arrivée</th>
                <th>Nombre de places</th>
                <th>Prix</th>
            </tr>
            <tr th:each="ride : ${rides}">
                <td th:text="${ride.departureDate}"/>
                <td th:text="${ride.fromCity}"/>
                <td th:text="${ride.toCity}"/>
                <td th:text="${ride.seats}"/>
                <td th:text="${ride.price}"/>
            </tr>
        </table>
    </div>
</section>
</body>

</html>